<div class="center hero-unit">
  <h1>Welcome to Shot of Life</h1>

  <h2>
    A place to record memorable drinks.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

